.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#homeBtn {
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100px;
  height: 50px;
  text-align:center;
  background-color: rgb(232, 129, 74);
  border-radius: 20px;
  border-width: 5px;
  font-weight: bold;
  font-size: large;
}

#homeBtn:hover {
  color: rgb(10, 128, 124);
}

#nav {
  position: absolute;
  margin-top: 0px;
  margin-bottom: 50px;
  display: block;
  width: 100%;
  background-color:rgb(10, 128, 124);
  color: white;
  text-align: left;
  padding-left: 3%;
}

#login {
  padding-top: 15%;
  flex-direction: column;
  align-items: center;
}

#login {
  padding-top: 15%;
  flex-direction: column;
  align-items: center;
}

#pkgList {
  margin-top: 10vmax;
}

#logBtn  {
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100px;
  height: 50px;
  text-align:center;
  background-color: rgb(232, 129, 74);
  border-radius: 20px;
  font-weight: bold;
  font-size: large;
}

#logBtn:hover {
  color: rgb(10, 128, 124);
}

#signBtn {
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100px;
  height: 50px;
  text-align:center;
  background-color: rgb(232, 129, 74);
  border-radius: 20px;
  font-weight: bold;
  font-size: large;
}

#signBtn:hover {
  color: rgb(10, 128, 124);
}

#inputemail {
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-content: center;
  text-align: center;
  border-width: 1px;
}
#inputpassword {
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-content: center;
  text-align: center;
  border-width: 1px;
}

#labelone {
margin: 10px;
}
#labeltwo {
margin: 24px;
}


